#   SPDX-FileCopyrightText: no
#   SPDX-License-Identifier: CC0-1.0
#
# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.so
*.dll
*.dylib

# Python

__pycache__

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.moc
*.qmlc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*
*-build
/build

# QtCreator

*.autosave
qtcreator-build
CMakeLists.txt.user

# KDevelop
*.kdev4

# PyCharm
.idea

# Visual Studio Code
.vscode

# Backup files
*~
*.bak

# Kate
*.kate-swp
tags

# Zero-size placeholder files (untracked)
.gitmodules
data/example-root/etc/sudoers.d/10-installer
data/example-root/usr/share/zoneinfo/.dummy
data/example-root/var/lib/dbus/.dummy
data/example-root/var/lib/initramfs-tools
src/modules/locale/images/timezone_3.0.png
src/modules/locale/images/timezone_3.5.png
src/modules/locale/images/timezone_4.0.png
src/modules/locale/images/timezone_5.0.png
